@import 'grid.scss';

.gridLayer {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.gridLayer-left {
  @include colWidthMinus(4);
  background-color: $pinkAlt;
}

.gridLayer-right {
  @include colWidth(12);
  background-color: $brightPink;
}