@import "grid.scss";

.header-name {
  font-family: "otama", sans-serif;
  color: $blue;
  font-size: 108px;
  font-weight: normal;
  
  letter-spacing: -20px;
  white-space: nowrap;
  color: #B72265;
  line-height: 0.55;
  margin-top: -30px;
  
  
  @supports (mix-blend-mode: multiply) {
    mix-blend-mode: multiply;
    color: $blue;
  }

  @include breakpoint(duex) {
    font-size: 138px;
  }
  
  //position: relative;
  //z-index: 1;
}

.header-lastName {
  font-weight: normal;
  display: block; 
  margin-left: 0.36em;
}

.header-description {
  max-width: 555px;

  @include breakpoint(duex) {
    margin-top: 60px;
  }
   
}

.header-hacking {
  margin-top: -20px;
  font-size: 0.9em;
  position: relative;
  z-index: 1;
  max-width: 505px;

  h2 {
    margin-bottom: 5px;
  }
}

.header-social {
  list-style: none;
  padding: 0;
  margin-top: 50px;
  font-size: 0.8em;
  li {
    display: inline-block;
    margin-right: 15px;
    &:hover {
      opacity: 1;
    }
  }
}

body {
  line-height: 1.7;
}