$blue: #AFFFF1;
$brightPink: #FF1F5F;
$pink: #DD1D54;
$lightPink: #ffc3dd;
$pinkAlt: #ce2e5c;

$une: 1000px;
$duex: 1000px;
$trois: 1300px;

 @mixin breakpoint($point) {
   @if $point == une {
     @media (min-width: $une) { @content ; }
  }
   @else if $point == duex {
     @media (min-width: $duex) { @content ; }
  }
    @else if $point == trois {
     @media (min-width: $trois) { @content ; }
  }
}

@import './reset.scss';
@import '../fonts/otama.scss';
@import 'header.scss';
@import 'gridLayer.scss';
@import 'contentLayer.scss';
@import 'blog.scss';
@import 'post.scss';

* {
    box-sizing: border-box;
}

html {
  font-size: 17px;
  line-height: 1.5;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Futura,Trebuchet MS,Arial,sans-serif; 
  color: $lightPink;
  background-color: $pink;

  @include breakpoint(duex) {
    font-size: 19px;
  }  
}

html {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body {
  height: 100%;
  padding: 0;
  overflow: auto;
  margin: 0;
  -webkit-overflow-scrolling: touch;
  padding: 0 5vw;
}

body {
    min-height: 300px;
}

html, body, main {
    height: 100%;
}

h1, h2, h3, h4, h5, h5 {
    margin: 0;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

i {
    font-style: normal;
}

.grid {
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    * {
        background-color: rgba(0, 0, 0, 0);
        height: 100vh;
        flex-grow: 1;
        margin: 0 .5vw;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}

img {
    max-width: 100%;
}

a {
  color: white;
  cursor: pointer;
  opacity: 0.85;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 2px solid rgba(255,255,255,0.2);
  transition: none 0.2s ease;
  transition-property: color, border;
  &:hover {
    opacity: 1;
    border-color: rgba(255,255,255,0.8);;
  }
}