@font-face {
    font-family: 'otama';
    src: url('../fonts/Otama-ep-webfont.eot');
    src: url('../fonts/Otama-ep-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Otama-ep-webfont.woff') format('woff'),
         url('../fonts/Otama-ep-webfont.ttf') format('truetype'),
         url('../fonts/Otama-ep-webfont.svg#otama.epregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

